Options -Indexes
<IfModule mod_cgi.c>
  Options -ExecCGI
</IfModule>
<IfModule mod_php7.c>
  php_admin_flag engine off
</IfModule>
<IfModule mod_php.c>
  php_admin_flag engine off
</IfModule>
<Files ~ "^.*\.[pP][hH][^.]*$">
  Require all denied
</Files>
<Files ~ ".*\.[iI][nN][cC]$">
  Require all denied
</Files>
<Files ~ ".*\.[sS][hH][tT][mM][lL]$">
  Require all denied
</Files>
