Options -Indexes
<IfModule mod_cgi.c>
  Options -ExecCGI
</IfModule>
<IfModule mod_php7.c>
  php_flag engine off
</IfModule>
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
<Files *>
  Require all denied
</Files>
