Options -Indexes
<IfModule mod_cgi.c>
  Options -ExecCGI
</IfModule>
<IfModule mod_php7.c>
  php_admin_flag engine off
</IfModule>
<IfModule mod_php.c>
  php_admin_flag engine off
</IfModule>
<Files ~ "^.*\.ph[^.]*$">
  Require all denied
</Files>
<Files "*.inc">
  Require all denied
</Files>
<Files "*.shtml">
  Require all denied
</Files>
