/aliasBig.png
/automountType.png
/bind.png
/bindDLZ.png
/database.png
/gon.png
/heimdal.png
/heimdalRealm.png
/mitKerberos.png
/nisObject.png
/nisObjectType.png
/nsviewType.png
/oracleContextType.png
/ppolicyType.png
/sudo.png
/sudoBig.png
/view.png
/zarafa*.png
/kopano*.png
/ngroup.png
/nuser.png
/powerDNS.png
