parameters:
	level: 9
	scanDirectories:
		- lam/lib
		- lam/templates
	paths:
		- lam/lib
		- lam/templates
	excludePaths:
		analyseAndScan:
			- */3rdParty/*
	ignoreErrors:
		- '#.* on an unknown class .*#'
		- '#.* has invalid type .*#'
		- '#Function [a-zA-Z0-9\\_-]+ not found.#'
		- '#Class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Instantiated class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Caught class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Used function [a-zA-Z0-9\\_-]+ not found.#'
		- '#Variable \$helpArray might not be defined.#'
		- '#Function [a-zA-Z0-9\(\)\\_-]+ has invalid return type [a-zA-Z0-9\\_-]+.#'
		- '#PHPDoc tag @throws with type LAMException is not subtype of Throwable#'
		- '#Throwing object of an unknown class [a-zA-Z0-9\\_-]+.#'
		- '#Parameter \#[0-9] \$[a-zA-Z_]+ of function [a-zA-Z_]+ expects [(]?callable.*#'
		- '#Call to an undefined method object::.*#'
		- '#Parameter \#2 \$str of function explode expects string, array<int, string>\|string given.#'
		- '#Parameter \#1 \$link_identifier of function ldap_.* expects resource, LDAP\\Connection given.#'
		- '#Parameter \#1 \$link of function ldap_read expects array\|resource, LDAP\\Connection given.#'
		- '#Cannot assign new offset to array<int, string>\|string.#'
		- '#Cannot access offset .* on mixed.#'
		- '#Parameter \#1 \$haystack of function strpos expects string, int\|string given.#'
		- '#Parameter \#1 \$string of function htmlspecialchars expects string, array<int, string>\|string given.#'
		- '#Parameter \#1 \$name of function LAM\\ACCOUNTLIST\\search_username expects string, array<int, string>\|string given.#'
		- '#Parameter \#1 \$input of function array_keys expects array, mixed given.#'
		- '#Offset int does not exist on array<int, string\|null>\|null.#'
		- '#Argument of an invalid type mixed supplied for foreach, only iterables are supported.#'
		- '#Parameter \#2 \$parameters of function call_user_func_array expects array<int, mixed>, mixed given.#'
		- '#Parameter \#1 \$input of method LAM\\AJAX\\Ajax::managePasswordChange\(\) expects array, mixed given.#'
		- '#Strict comparison using === between array<string, class-string> and false will always evaluate to false.#'
