parameters:
	level: 9
	scanDirectories:
		- lam/lib
		- lam/templates
	paths:
		- lam/lib
		- lam/templates
	excludePaths:
		analyseAndScan:
			- */3rdParty/*
	ignoreErrors:
		- '#.* on an unknown class .*#'
		- '#.* has invalid type .*#'
		- '#Function [a-zA-Z0-9\\_-]+ not found.#'
		- '#Class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Instantiated class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Caught class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Used function [a-zA-Z0-9\\_-]+ not found.#'
		- '#Variable \$helpArray might not be defined.#'
		- '#Function [a-zA-Z0-9\(\)\\_-]+ has invalid return type [a-zA-Z0-9\\_-]+.#'
		- '#PHPDoc tag @throws with type LAMException is not subtype of Throwable#'
		- '#Throwing object of an unknown class [a-zA-Z0-9\\_-]+.#'
		- '#Parameter \#[0-9] \$[a-zA-Z_]+ of function [a-zA-Z_]+ expects [(]?callable.*#'
		- '#Call to an undefined method object::.*#'
		- '#Parameter \#2 \$string of function explode expects string, array<int, string>\|string given.#'
		- '#Parameter \#2 \$result of function ldap_.* expects LDAP\\Result, array\|LDAP\\Result given.#'
		- '#Cannot assign new offset to array<int, string>\|string.#'
		- '#Cannot access offset .* on mixed.#'
		- '#Cannot access offset .* on array\|int.#'
		- '#Parameter \#1 \$haystack of function str_starts_with expects string, int\|string given.#'
		- '#Parameter \#3 \$length of function substr expects int\|null, int<0, max>\|false given.#'
		- '#Parameter \#1 \$string of function htmlspecialchars expects string, array<int, string>\|string given.#'
		- '#Parameter \#1 \$name of function LAM\\ACCOUNTLIST\\search_username expects string, array<int, string>\|string given.#'
		- '#Parameter \#1 \$array of function array_keys expects array, mixed given.#'
		- '#Argument of an invalid type mixed supplied for foreach, only iterables are supported.#'
		- '#Parameter \#2 \$args of function call_user_func_array expects array<int\|string, mixed>, mixed given.#'
		- '#Parameter \#1 \$input of static method LAM\\AJAX\\Ajax::managePasswordChange\(\) expects array, mixed given.#'
		- '#Parameter \#1 \$input of method LAM\\AJAX\\Ajax::checkPasswordStrength\(\) expects array, mixed given.#'
		- '#Cannot access offset non-falsy-string on array<int\|string, string>\|object.#'
