parameters:
	level: 7
	scanDirectories:
		- lam/lib
		- lam/templates
	paths:
		- lam/lib
		- lam/templates
	excludePaths:
		analyseAndScan:
			- */3rdParty/*
	ignoreErrors:
		- '#.* on an unknown class .*#'
		- '#.* has invalid type .*#'
		- '#Function [a-zA-Z0-9\\_-]+ not found.#'
		- '#Class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Instantiated class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Caught class [a-zA-Z0-9\\_-]+ not found.#'
		- '#Used function [a-zA-Z0-9\\_-]+ not found.#'
		- '#Variable \$helpArray might not be defined.#'
		- '#Function [a-zA-Z0-9\(\)\\_-]+ has invalid return type [a-zA-Z0-9\\_-]+.#'
		- '#PHPDoc tag @throws with type LAMException is not subtype of Throwable#'
		- '#Throwing object of an unknown class [a-zA-Z0-9\\_-]+.#'
		- '#Parameter \#[0-9] \$[a-zA-Z_]+ of function [a-zA-Z_]+ expects [(]?callable.*#'
