<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
		<testsuite name="AllTests">
			<directory>lam/tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<includePath>.</includePath>
	</php>
	<logging>
		<log type="coverage-html" target="../code-coverage/html"/>
	</logging>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">lam</directory>
	    <directory suffix=".inc">lam</directory>
	    <exclude>
	      <directory>lam/tests</directory>
	      <directory>lam/lib/3rdParty</directory>
	      <directory>lam/templates/3rdParty</directory>
	    </exclude>
	  </whitelist>
	</filter>
</phpunit>