/* body { background-color:#F5F5F5; } */

body {
	font-family:sans-serif;
}

a {
color:#000080;
text-decoration:none;
}

a:visited {
color:#000080;
text-decoration:none;
}

a:hover {
color:red;
text-decoration:none;
}

a:active {
color:red;
text-decoration:none;
}

div.navheader td {
	font-weight:bold;
}

div.navfooter td {
	font-weight:bold;
}

div.table table {
	border-collapse:collapse;
	border-width:2px;
}

div.navheader hr {
	margin-bottom:30px;
}

div.navfooter hr {
	margin-top:30px;
}

h1 { color:#253aa3; }
h2 { color:#000080; font-size:13pt; }

table { border-color:#253aa3; border-style:solid; }
th { font-size:12pt; font-weight:bold; height:21px; color:#253aa3; }
td { padding-left: 15px; font-size:12pt; }

