/aliasEntry.inc
/automount.inc
/bindDLZ.inc
/customFields.inc
/customScripts.inc
/device.inc
/groupOfMembers.inc
/groupOfNames.inc
/groupOfNamesUser.inc
/groupOfUniqueNames.inc
/heimdalKerberos.inc
/ipHost.inc
/mitKerberos.inc
/mitKerberosStructural.inc
/namedObject.inc
/nisObject.inc
/nsview.inc
/oracleService.inc
/organizationalRole.inc
/organizationalRoleUser.inc
/passwordSelfReset.inc
/ppolicy.inc
/ppolicyUser.inc
/qmailGroup.inc
/qmailUser.inc
/rfc2307bisAutomount.inc
/rfc2307bisPosixGroup.inc
/selfRegistration.inc
/sudoRole.inc
/uidObject.inc
/zarafaAddressList.inc
/zarafaContact.inc
/zarafaDynamicGroup.inc
/zarafaGroup.inc
/zarafaServer.inc
/zarafaUser.inc
/locking389ds.inc
/kopano*.inc
/dynamicList.inc
