Source: ldap-account-manager
Maintainer: Roland Gruber <post@rolandgruber.de>
Section: web
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper (>= 12), debhelper-compat (= 12), po-debconf, cleancss (>= 5.2), uglifyjs (>= 3.12)
Homepage: https://www.ldap-account-manager.org/
Rules-Requires-Root: binary-targets

Package: ldap-account-manager
Architecture: all
Depends: php (>= 8.0.2), php-ldap,
 php-gd | php-imagick,
 php-json, php-curl,
 php-zip, php-xml, php-gmp, php-mbstring,
 libapache2-mod-php | libapache2-mod-fcgid | php-fpm,
 apache2 (>= 2.4.0) | httpd,
 gettext, fonts-dejavu,
 ckeditor (>= 4.0), libjs-jquery-jstree (>= 3.3.0),
 php-phpseclib3, php-psr-log (<< 2.0), php-monolog (<< 3.0),
 php-voku-portable-ascii (<< 3.0), libphp-phpmailer (<< 7.0),
 debconf (>= 0.2.26) | debconf-2.0, ${misc:Depends}
Recommends: php-opcache
Suggests: ldap-server, php-mcrypt, ldap-account-manager-lamdaemon, perl
Conflicts: libapache2-mod-php5, php5, php5-fpm
Description: webfrontend for managing accounts in an LDAP directory
 LDAP Account Manager (LAM) runs on an existing webserver.
 It manages user, group and host accounts. Currently LAM
 supports these account types: Samba 3/4, Unix, Kolab,
 address book entries, NIS mail aliases and MAC addresses.
 There is an integrated LDAP browser to allow access to the
 raw LDAP attributes. You can use templates
 for account creation and use multiple configuration profiles.
 Account information can be exported as PDF file. There is also
 a script included which manages quotas and homedirectories.

Package: ldap-account-manager-lamdaemon
Architecture: all
Depends: perl, sudo, ${misc:Depends}, libquota-perl, libsys-syslog-perl
Description: Quota and home directory management for LDAP Account Manager
 Lamdaemon is part of LDAP Account Manager. This package
 needs to be installed on the server where the home directories
 reside and/or quotas should be managed.
