Source: ldap-account-manager
Maintainer: Roland Gruber <post@rolandgruber.de>
Section: web
Priority: extra
Standards-Version: 3.7.2
Build-Depends-Indep: po-debconf
Build-Depends: debhelper (>= 4.1.16)

Package: ldap-account-manager
Architecture: all
Depends: php4 | php4-cgi | libapache2-mod-php4 | php5 | php5-cgi | libapache2-mod-php5, php4-ldap | php5-ldap, apache | apache-ssl | apache-perl | apache2 | httpd, php-fpdf, debconf (>= 0.2.26) | debconf-2.0
Recommends: php4-mhash | php5-mhash
Suggests: ldap-server, sudo, perl, php4-mcrypt | php5-mcrypt
Description: webfrontend for managing accounts in an LDAP directory
 LDAP Account Manager (LAM) runs on an existing webserver. LAM
 supports LDAP connections via SSL and TLS. It manages user, group
 and host accounts. Currently LAM supports these account types:
 Samba 2 and 3, Unix, Kolab 2, address book entries, NIS mail
 aliases and MAC addresses. There is a tree viewer included to
 allow access to the raw LDAP attributes. You can use templates
 for account creation and use multiple configuration profiles.
 Account information can be exported as PDF file. There is also
 a script included which manages quota and homedirectories, you
 have to setup sudo if you want to use it. LAM is translated to
 Catalan, Chinese (Traditional), Dutch, English, French, German,
 Hungarian, Italian, Spanish and Japanese.
 .
 Homepage: http://lam.sourceforge.net/
