<?php
/*
 * Lam Configuration File
 *
 * This file contains global configuration settings for lam. Values
 * may be safely edited by hand. Use conf.php.dist as a reference.
 *
 * Strings should be enclosed in 'quotes'.
 * Integers should be given literally (without quotes).
 * Boolean values may be 'true' or 'false'.
 *
 */

// IP or Name of the LDAP-Server which should be used
$conf['ldap']['server'] = 'ldap.example.com'
// LDAP-Port Normally 389, 636 if ssl is enabled
// If left empty the default values will be used
$conf['ldap']['port'] = '636'
// Should we use SSL to connect to the ldap-server?
$conf['ldap']['usessl'] = 'true'

// List of users with admin-right
// You also have to modify the ACL-List of your
// LDAP-Server
$conf['lam']['admin'] = array('root','admin',);



?>
