/alias.inc
/automountType.inc
/bind.inc
/gon.inc
/nisObjectType.inc
/nsviewType.inc
/oracleContextType.inc
/ppolicyType.inc
/sudo.inc
/zarafaAddressListType.inc
/zarafaDynamicGroupType.inc
/kopano*.inc
/customType.inc
/ngroup.inc
/nuser.inc
/mitKerberosPolicyType.inc
