<Files *>
  Options +FollowSymLinks
  <IfVersion < 2.3>
    Order allow,deny
    Allow from all
  </IfVersion>
  <IfVersion >= 2.3>
    Require all granted
  </IfVersion>
  DirectoryIndex index.html
</Files>
